<!DOCTYPE html>
<html lang="en">
<head>
  <title>Consul curl</title>
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='consul-icon.png') }}">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body>
  <div class="center">
    <div class="create">
      <p>Create/Update service</p>
      <form action = "/create" method="post">
        <p><input type="text" id="id_create" name="id_create" placeholder="ID"></p>
        <p><input type="text" id="name" name="name" placeholder="Name"></p>
        <p><input type="text" id="address" name="address" placeholder="Address"></p>
        <p><input type="text" id="port" name="port" placeholder="Port"></p>
        <p><input type="submit" value="create"></p>
      </form>
    </div>
    <div class="delete">
      <p>Delete service</p>
      <form action = "/delete" method="post">
        <p><input type="text" id="id_delete" name="id_delete" placeholder="ID"></p>
        <p><input type="submit" value="delete"></p>
      </form>
    </div>
    <div class="data">
      <p>Consul server IP = {{ IP }}</p>
      <p>Consul server Port = {{ Port }}</p>
      <p><a target="_blank" rel="noopener noreferrer" href="http://{{ IP }}:{{ Port }}">http://{{ IP }}:{{ Port }}</a></p>
    </div>
  </div>
</body>
</html>
