.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}
div.delete, div.create, div.data {
  float: left;
  display: block;
  width: 300px;
  border: 2px solid grey;
  margin: 10px;
}
input[type=text] {
  width: 65%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 3px solid #CAC9C9;
  border-radius: 4px;
  outline: none;
  font-size: 15px;
}
input[type=text]:focus {
  border: 3px solid #555;
}
input[type=submit]{
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  width: 80%;
  border-radius: 5px 5px 5px 5px;
  font-size: 20px;
}
div.create input[type=submit]{
  background-color: #4CAF50;
}
div.delete input[type=submit]{
  background-color: #9F0505;
}
div.create p, div.delete p, div.data p{
  font-size: 20px;
  text-align: center;
}
